@import url(./reset.css);

.container-nosotros {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10vh 75vh 10vh;
  }
  
  .container-nos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 6;
    margin: 25px 10px;
    padding: 15px;
  }
  
  .nosotros {
    margin: 1% 2%;
    font-family: "Pangolin", cursive;
    grid-column: 1 / span 6;
    text-align: justify;
  }
  
  .mapa {
    margin: 0px 0px 0px 25px;
    padding: 25px 0px 0px 0px;
  }