 @import url(../CSS/reset.css); 

main{
    justify-content: flex-start;
}

.titulo-principal{
  margin-top: 1rem;

}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio{
    margin: 2rem 0 1rem 0;

}

.icono-car{
    margin-left: 10px;
}

.carrito-comprado{
    margin: 2rem 0 1rem 0;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:navy;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-terciario);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 70vw;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: 0.75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
    padding-left: 2.5rem;
    padding-right: 1rem;
    cursor: pointer;
}


.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: navy;
    border-radius: 1rem;
    padding: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 2rem;
    font-weight: bold;
}

.carrito-acciones-vaciar:hover, .carrito-acciones-comprar:hover{
    background-color: var(--color-selector);
    color: var(--color-primario);
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: navy;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.8rem;
    text-transform: uppercase;
    gap: 1rem;
    font-weight: bold;
}


.carrito-acciones-comprar{
    border: 0;
    background-color: var(--color-primario);
    color: navy;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.btn-volver{
    margin-top: 1rem;
    color: navy;
    font-size: 1rem;
}

.txt-volver{
   padding: 0.5rem;
}